<%= render 'header' %>
    <div id="content">

      <div class="container headerMarginTop storeOnly">
              <div class="clearfix">
                 <div class="searchNav">
                 </div>
              </div>

  <div class="shopping-preferences">

    <h3>Customize Your shopping preferences. See more of what you love, and less of what you don't
      <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Customize Now</a>
    </h3>

    <!-- <h3>Welcome to RM, This is the place to discover the most exciting things for your life</h3> -->
    <!-- <p>RM makes it really easy to see more of what you love, and less of what you don’t. Follow the stuff that excites you. </p> -->
  </div>

  <div class="clearfix">
    <ul class="store-navigation">
        <li class=" active">My Feed</li>
        <li><%= link_to 'New Arrivals', '#' %></li>
        <li><%= link_to 'Trending', '#' %></li>
        <li><%= link_to 'Recommended', '#' %></li>
    </ul>
  </div>


      <section class="mainContent mainContentWide clearfix">
 <div class="clearfix"></div>

            <div class="popularNow">
            <div class="colWrap clearfix">
              <div id="container" class="packery js-packery" data-packery-options='{ "itemSelector": ".galry-item" }'>

              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="../images/display-tshirt.jpg" alt=""></a>

                <div class="displayInfo">
                  <div class="subDetails clearfix">
                  <p><a href="#">Fashion Universe Star</a></p>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>

                    <a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                </div>
              </div>

              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="../images/display-tshirt2.jpg" alt=""></a>
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                  <p><a href="#">Fashion Universe Star</a></p>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                </div>
              </div>
              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="../images/display-tshirt2.jpg" alt=""></a>
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                  <p><a href="#">Fashion Universe Star</a></p>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                </div>
              </div>

              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="../images/display-tshirt3.jpg" alt=""></a>
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                  <p><a href="#">Fashion Universe Star</a></p>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                </div>
              </div>

              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="../images/display-tshirt.jpg" alt=""></a>
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                  <p><a href="#">Fashion Universe Star</a></p>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                </div>
              </div>

              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="../images/display-tshirt4.jpg" alt=""></a>
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                  <p><a href="#">Fashion Universe Star</a></p>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                </div>
              </div>

              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="../images/display-tshirt.jpg" alt=""></a>
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                  <p><a href="#">Fashion Universe Star</a></p>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                </div>
              </div>

              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="../images/display-tshirt4.jpg" alt=""></a>
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                  <p><a href="#">Fashion Universe Star</a></p>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                </div>
              </div>

              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="../images/display-tshirt5.jpg" alt=""></a>
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                  <p><a href="#">Fashion Universe Star</a></p>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                </div>
              </div>

              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="../images/display-tshirt.jpg" alt=""></a>
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                  <p><a href="#">Fashion Universe Star</a></p>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>

                    <a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                </div>
              </div>

              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="../images/display-tshirt2.jpg" alt=""></a>
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                  <p><a href="#">Fashion Universe Star</a></p>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                </div>
              </div>

              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="../images/display-tshirt3.jpg" alt=""></a>
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                  <p><a href="#">Fashion Universe Star</a></p>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                </div>
              </div>

              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="../images/display-tshirt.jpg" alt=""></a>
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                  <p><a href="#">Fashion Universe Star</a></p>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                </div>
              </div>

              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="../images/display-tshirt4.jpg" alt=""></a>
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                  <p><a href="#">Fashion Universe Star</a></p>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                </div>
              </div>
              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="../images/display-tshirt4.jpg" alt=""></a>
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                  <p><a href="#">Fashion Universe Star</a></p>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                </div>
              </div>

              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="../images/display-tshirt.jpg" alt=""></a>
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                  <p><a href="#">Fashion Universe Star</a></p>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                </div>
              </div>

              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="../images/display-tshirt4.jpg" alt=""></a>
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                  <p><a href="#">Fashion Universe Star</a></p>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                </div>
              </div>

              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="../images/display-tshirt5.jpg" alt=""></a>
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                  <p><a href="#">Fashion Universe Star</a></p>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                </div>
              </div>

              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="../images/display-tshirt5.jpg" alt=""></a>
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                  <p><a href="#">Fashion Universe Star</a></p>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                </div>
              </div>

              <div class="column column-3 galry-item">
                <a href="#" class="pdctImg"><img src="../images/display-tshirt5.jpg" alt=""></a>
                <div class="displayInfo">
                  <div class="subDetails clearfix">
                  <p><a href="#">Fashion Universe Star</a></p>
                    <span class="dataBy"><a href="#">by MEAN KIDS </a></span>
                    <span class="price">USD$48.37
<del class="grey">$85.00</del>

                  </div>
                  <div class="shareIcons">
                    <a href="#" class="heart">92</a>
                    <a href="javascript:void(0)" class="share">24</a>
                  </div>
                </div>
                <div class="share-popup">
                    <a href="#"> <img src="../images/facebook-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/twitter-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/gplus-icon.png" alt=""> </a>
                    <a href="#"> <img src="../images/pintrest.png" alt=""> </a>
                    <a href="#"> <img src="../images/email-icon.png" alt=""> </a>
                </div>
              </div>


            </div>
<div class="clearfix"></div>
             <div class="digg_pagination clearfix">
               <span class="disabled previous_page">Previous</span>
                <em class="current">1</em>
                <a href="#" rel="next">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">7</a>
                <a href="#" rel="next" class="next_page">Next</a>
              </div>

          </div>

        </div>
            </section>

      </div><!-- end of .container -->

    </div><!-- end of #content -->
<%= render 'minimal-footer' %>
